// These are the styles to make some of the templates look extra nice.
// Feel free to remove these styles for production!

// Body Styles 
body,
html, 
.body {
  background: #f3f3f3 !important;
}

.header {
  .container {
    background-color: $secondary-lightest;
  }

  &.header-alt {
    .container {
      background-color: #f5e1d9;
    }
  }
}


.main {

  &.secondary-lightest {
    .container {
      background-color: $secondary-lightest;
    }
  }
}

.big-headline {
  font-size: 26px;

  @media only screen and (max-width: #{$global-breakpoint}) {
    font-size: 18px;
  }
}

.fw500 {
  font-weight: 500;
}

.item-icons {
  .title {
    margin-bottom: 0;
    margin-top: 10px;
    color: $primary-color;
    font-size: 17px;
  }
}

.order-bar {
  .container {
    background-color: $secondary-light;
  }

  .inn {
    padding: 15px 0;
  }
  
  h2 {
    color: $black;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 18px;
    margin-bottom: 0;
    padding: 0;

    strong {
      color: $primary-color;
    }
  }
}

.product {

  @media only screen and (max-width: #{$global-breakpoint}) {
    border-bottom: 1px solid $light-gray;
    margin-bottom: 15px;
  }

  .title {
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 0;
    padding: 0;
  }

  .price {
    margin: 0;
    font-size: 14px;

    small {
      display: block;
      color: $primary-color;
    }
  }

  .description {
    font-size: 10px;
    margin-bottom: 0;
  }
}

.order-summary {
  background-color: $secondary-lighter;

  td {
    padding: 10px;
  }

  p {
    font-size: 14px;
    margin-bottom: 0;

    strong {
      color: $primary-color;
    }
  }
}

.bigger-padding {
  .columns {
    &.first {
      padding-left: 30px;
    }

    &.last {
      padding-right: 30px;
    }
  }

  @media only screen and (max-width: #{$global-breakpoint}) {
    .columns {
      &.first {
        padding-left: $global-padding;
      }

      &.last {
        padding-right: $global-padding;
      }
    }
  }
}

.pb0 {
  .columns {
    padding-bottom: 0;
  }
}

.order-summary-text {
  font-size: 14px;

  strong {
    color: $primary-color;
  }
}

.help-bar {
  .container {
    background-color: $secondary-light;
  }

  .inn {
    padding: 15px 0;
  }

  p {
    font-size: 14px;
    margin-bottom: 0;

    a {
      font-weight: 700;
    }
  }
}

.footer {

  &.footer-alt {
    .container {
      background-color: #ecc6bd;
    }

    .footer-copyright {
      color: $primary-color;
      font-size: 14px;
    }
  }

  h2 {
    font-size: 16px;
    margin-bottom: 30px;
  }

  .footer-contact {
    font-size: 13px;
    color: $black;
    display: block;
    width: 100%;

    strong {
      display: block;
      width: 100%;
      color: $primary-color;
    }

    span {
      display: block;
      width: 100%;
    }
  }

  .footer-copyright {
    color: $dark-gray;
    font-size: 10px;
  }
}

.gallery {
  img {
    border-radius: $global-radius;
    border: 1px solid $secondary-light;
  }
}

.text-uppercase {
  text-transform: uppercase;
}

.text-primary {
  color: $primary-color;
}