
{{> header }}

<wrapper class="header">
	<container>
		<row>
			<columns small="12">
				<h1 class="text-center">{{{ translate 'grillz.header_title' }}}</h1>
				<p class="text-center">
					{{{ translate 'grillz.header_description' }}}
				</p>
			</columns>
		</row>
		<spacer size="20"></spacer>
		{{> gallery-vlastni-vyroba}}
		<spacer size="20"></spacer>
	</container>
</wrapper>

<wrapper class="help-bar">
	<container>
		<row class="bigger-padding">
			<columns small="12" class="inn">
				<row class="pb0">
					<columns small="12" large="2" valign="middle">
						<img class="small-float-center" src="{{{ translate 'grillz.help_bar.image' }}}" alt="{{{ translate 'grillz.help_bar.image_alt' }}}">
					</columns>
					<columns small="12" large="10" valign="middle">
						<p class="small-text-center">
							{{{ translate 'grillz.help_bar.text' }}}
						</p>
					</columns>
				</row>
			</columns>
		</row>
	</container>
</wrapper>

{{> footer}}