
{{> header }}

<wrapper class="header">
	<container>
		<row>
			<columns small="12">
				<h1 class="text-center">{{{ translate 'order.header_title' }}}</h1>
				<p class="text-center">
					{{{ translate 'order.header_description' }}}
				</p>
			</columns>
		</row>
		<row class="collapse">
			<columns small="12">
				<center>
					<img src="{{ translate 'order.status_image' }}" alt="{{ translate 'order.status_alt' }}" width="350" style="width: 100%;max-width: 350px;">
				</center>
			</columns>
		</row>
		<spacer size="20"></spacer>
	</container>
</wrapper>

<wrapper class="order-bar">
	<container>
		<row>
			<columns small="12" class="inn">
				<h2 class="text-center">{{{ translate 'order.status_text' }}} <strong>[ID_OBJEDNABKY]</strong></h2>
			</columns>
		</row>
	</container>
</wrapper>

<wrapper class="main">
	<container>
		<spacer size="20"></spacer>

		{{#repeat 2}}
		<row class="product bigger-padding">
			<columns small="12" large="2" valign="middle">
				<center>
					<img class="img" src="https://www.eppi.cz/img/prod/5/17745.jpg" alt="" width="64" style="width: 100%;max-width: 64px;">
				</center>
			</columns>
			<columns small="7" large="10" valign="middle">
				<h3 class="title">Kuličkové náušnice ze 14k žlutého zlata Heidy</h3>
			</columns>
			<columns small="5" large="2" valign="middle">
				<p class="text-right price">
					<strong>2 150 Kč</strong>
					<small>Sleva 100 Kč</small>
				</p>
			</columns>
		</row>
		{{/repeat}}

		<row class="product bigger-padding">
			<columns small="12" large="2" valign="middle">
				<center>
					<img class="img" src="{{{ translate 'order.gift.darky.img' }}}" alt="{{{ translate 'order.gift.darky.title' }}}" width="64" style="width: 100%;max-width: 64px;">
				</center>
			</columns>
			<columns small="7" large="10" valign="middle">
				<h3 class="title">{{{ translate 'order.gift.darky.title' }}}</h3>
				<p class="description text-uppercase">{{{ translate 'order.gift.darky.caption' }}}</p>
			</columns>
			<columns small="5" large="2" valign="top">
				<p class="text-right price">
					<strong class="text-uppercase">{{{ translate 'order.gift.darky.price' }}}</strong>
				</p>
			</columns>
		</row>

		<row class="product bigger-padding">
			<columns small="12" large="2" valign="middle">
				<center>
					<img class="img" src="{{{ translate 'order.gift.krabicka.img' }}}" alt="{{{ translate 'order.gift.krabicka.title' }}}" width="64" style="width: 100%;max-width: 64px;">
				</center>
			</columns>
			<columns small="7" large="10" valign="middle">
				<h3 class="title">{{{ translate 'order.gift.krabicka.title' }}}</h3>
			</columns>
			<columns small="5" large="2" valign="top">
				<p class="text-right price">
					<strong class="text-uppercase">{{{ translate 'order.gift.krabicka.price' }}}</strong>
				</p>
			</columns>
		</row>

		<row class="product bigger-padding">
			<columns small="12" large="2" valign="middle">
				<center>
					<img class="img" src="{{{ translate 'order.gift.sperkovnice.img' }}}" alt="{{{ translate 'order.gift.sperkovnice.title' }}}" width="64" style="width: 100%;max-width: 64px;">
				</center>
			</columns>
			<columns small="7" large="10" valign="middle">
				<h3 class="title">{{{ translate 'order.gift.sperkovnice.title' }}}</h3>
			</columns>
			<columns small="5" large="2" valign="top">
				<p class="text-right price">
					<strong>{{{ translate 'order.gift.sperkovnice.price' }}}</strong>
				</p>
			</columns>
		</row>

		<row class="product bigger-padding">
			<columns small="12" large="2" valign="middle">
				<center>
					<img class="img" src="{{{ translate 'order.gift.luxusni_darek.img' }}}" alt="{{{ translate 'order.gift.luxusni_darek.title' }}}" width="64" style="width: 100%;max-width: 64px;">
				</center>
			</columns>
			<columns small="7" large="10" valign="middle">
				<h3 class="title">{{{ translate 'order.gift.luxusni_darek.title' }}}</h3>
			</columns>
			<columns small="5" large="2" valign="top">
				<p class="text-right price">
					<strong>{{{ translate 'order.gift.luxusni_darek.price' }}}</strong>
				</p>
			</columns>
		</row>

		<row class="product bigger-padding">
			<columns small="12" large="2" valign="middle">
				<center>
					<img class="img" src="{{{ translate 'order.gift.pranicko.img' }}}" alt="{{{ translate 'order.gift.pranicko.title' }}}" width="64" style="width: 100%;max-width: 64px;">
				</center>
			</columns>
			<columns small="7" large="10" valign="middle">
				<h3 class="title">{{{ translate 'order.gift.pranicko.title' }}}</h3>
			</columns>
			<columns small="5" large="2" valign="top">
				<p class="text-right price">
					<strong>{{{ translate 'order.gift.pranicko.price' }}}</strong>
				</p>
			</columns>
		</row>

		<row class="product bigger-padding">
			<columns small="12" large="2" valign="middle">
				<center>
					<img class="img" src="{{{ translate 'order.gift.cistici_prostredky.img' }}}" alt="{{{ translate 'order.gift.cistici_prostredky.title' }}}" width="64" style="width: 100%;max-width: 64px;">
				</center>
			</columns>
			<columns small="7" large="10" valign="middle">
				<h3 class="title">{{{ translate 'order.gift.cistici_prostredky.title' }}}</h3>
			</columns>
			<columns small="5" large="2" valign="top">
				<p class="text-right price">
					<strong>{{{ translate 'order.gift.cistici_prostredky.price' }}}</strong>
				</p>
			</columns>
		</row>

		<row class="product bigger-padding">
			<columns small="12" large="2" valign="middle">
				<center>
					<img class="img" src="{{{ translate 'order.gift.stiraci_los.img' }}}" alt="{{{ translate 'order.gift.stiraci_los.title' }}}" width="64" style="width: 100%;max-width: 64px;">
				</center>
			</columns>
			<columns small="7" large="10" valign="middle">
				<h3 class="title">{{{ translate 'order.gift.stiraci_los.title' }}}</h3>
			</columns>
			<columns small="5" large="2" valign="top">
				<p class="text-right price">
					<strong class="text-uppercase">{{{ translate 'order.gift.stiraci_los.price' }}}</strong>
				</p>
			</columns>
		</row>

		<row class="bigger-padding">
			<columns small="12">
				<table class="order-summary">
					<tr>
						<td>
							<p class="text-center text-uppercase">
								{{{ translate 'order.summary_text' }}}: <strong>40 128 Kč</strong>
							</p>
						</td>
					</tr>
				</table>
			</columns>
		</row>


		<spacer size="20"></spacer>

		<row class="bigger-padding">
			<columns small="12" large="6">
				<p class="order-summary-text">
					<strong>{{{ translate 'order.payment_title' }}}:</strong> Kartou online (GoPay)
				</p>
			</columns>
			<columns small="12" large="6">
				<p class="order-summary-text">
					<strong>{{{ translate 'order.delivery_title' }}}:</strong> Poštou
				</p>
			</columns>
		</row>

		<row class="bigger-padding">
			<columns small="12" large="6">
				<p class="order-summary-text">
					<strong>{{{ translate 'order.delivery_address_title' }}}:</strong>
					<br>
					Michal Litványi,
					<br>
					Jarková 346
					<br>
					04925 Dobšiná
				</p>
			</columns>
			<columns small="12" large="6">
				<p class="order-summary-text">
					<strong>{{{ translate 'order.billing_address_title' }}}:</strong>
					<br>
					Michal Litványi,
					<br>
					Jarková 346
					<br>
					04925 Dobšiná
				</p>
			</columns>
		</row>

		<row class="bigger-padding">
			<columns small="12">
				<p class="order-summary-text">
					<strong>{{{ translate 'order.note_title' }}}:</strong>
					<br>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad alias aperiam fugit, molestiae similique suscipit?
				</p>
			</columns>
		</row>

	</container>
</wrapper>

{{> help-bar}}
{{> footer}}