
<wrapper class="header">
	<container>
		<row class="collapse pb0">
			<columns small="12">
				<a href="{{{ translate 'global.url' }}}" title="{{{ translate 'registration.header_alt' }}}">
					<img src="{{{ translate 'registration.header_img' }}}" alt="{{{ translate 'registration.header_alt' }}}" width="600" style="width: 100%;max-width: 600px;">
				</a>
			</columns>
		</row>
	</container>
</wrapper>

<wrapper class="header header-alt">
	<container>
		<row>
			<columns small="12">
				<spacer size="40"></spacer>
				<h1 class="text-center big-headline fw500">{{{ translate 'registration.title' }}}</h1>
				<p class="text-center text-primary">
					{{{ translate 'registration.description' }}}
				</p>
			</columns>
		</row>
		<spacer size="20"></spacer>
		<row class="item-icons">
			<columns small="12" large="3">
				<span class="img-wrap">
					<center>
						<img src="{{{ translate 'registration.gift.dozivotni_zaruka.img' }}}" alt="{{{ translate 'registration.gift.dozivotni_zaruka.alt' }}}">
					</center>
				</span>
				<p class="title text-center">{{{ translate 'registration.gift.dozivotni_zaruka.title' }}}</p>
			</columns>
			<columns small="12" large="3">
				<span class="img-wrap">
					<center>
						<img src="https://www.eppi.cz/images/emails/1909/doprava-zdarma.png" alt="{{{ translate 'registration.gift.doprava_zdarma.alt' }}}">
					</center>
				</span>
				<p class="title text-center">{{{ translate 'registration.gift.doprava_zdarma.title' }}}</p>
			</columns>
			<columns small="12" large="3">
				<span class="img-wrap">
					<center>
						<img src="{{{ translate 'registration.gift.darkove_baleni.img' }}}" alt="{{{ translate 'registration.gift.darkove_baleni.alt' }}}">
					</center>
				</span>
				<p class="title text-center">{{{ translate 'registration.gift.darkove_baleni.title' }}}</p>
			</columns>
			<columns small="12" large="3">
				<span class="img-wrap">
					<center>
						<img src="{{{ translate 'registration.gift.dozivotni_servis.img' }}}" alt="{{{ translate 'registration.gift.dozivotni_servis.alt' }}}">
					</center>
				</span>
				<p class="title text-center">{{{ translate 'registration.gift.dozivotni_servis.title' }}}</p>
			</columns>
		</row>
		<img class="img" src="https://www.eppi.cz/images/emails/1909/shape-bg-1.jpg" alt="" width="600" style="width: 100%;max-width: 600px;">
	</container>
</wrapper>


<wrapper class="main secondary-lightest">
	<container>
		<spacer size="40"></spacer>
		<h2 class="text-center big-headline fw500">{{{ translate 'registration.contact_title' }}}</h2>
		<spacer size="20"></spacer>
		<center>
			<button href="{{{ translate 'registration.contact_button_url' }}}" class="secondary radius large">{{{ translate 'registration.contact_button_text' }}}</button>
		</center>
		<spacer size="40"></spacer>
		<h3 class="text-center fw500">{{{ translate 'registration.social_title'}}}:</h3>
		<spacer size="20"></spacer>
		<row class="item-icons">
			<columns small="12" large="4">
				<span class="img-wrap">
					<a href="{{{ translate 'global.social.instagram.url'}}}">
						<center>
							<img src="https://www.eppi.cz/images/emails/1909/instagram.png" alt="{{{ translate 'global.social.instagram.title'}}}">
						</center>
					</a>
				</span>
				<p class="title text-center">
					<a href="{{{ translate 'global.social.instagram.url'}}}">{{{ translate 'global.social.instagram.title'}}}</a>
				</p>
			</columns>
			<columns small="12" large="4">
				<span class="img-wrap">
					<a href="{{{ translate 'global.social.facebook.url'}}}">
						<center>
							<img src="https://www.eppi.cz/images/emails/1909/facebook.png" alt="{{{ translate 'global.social.facebook.title'}}}">
						</center>
					</a>
				</span>
				<p class="title text-center">
					<a href="{{{ translate 'global.social.facebook.url'}}}">{{{ translate 'global.social.facebook.title'}}}</a>
				</p>
			</columns>
			<columns small="12" large="4">
				<span class="img-wrap">
					<a href="{{{ translate 'registration.help.url'}}}">
						<center>
							<img src="https://www.eppi.cz/images/emails/1909/napoveda.png" alt="{{{ translate 'registration.help.title'}}}">
						</center>
					</a>
				</span>
				<p class="title text-center">
					<a href="{{{ translate 'registration.help.url'}}}">{{{ translate 'registration.help.title'}}}</a>
				</p>
			</columns>
		</row>
		<spacer size="40"></spacer>
		<h3 class="text-center fw500">{{{ translate 'registration.faqs'}}}</h3>
		<spacer size="40"></spacer>
	</container>
</wrapper>

<wrapper class="footer footer-alt">
	<container>
		<a href="{{{ translate 'global.url' }}}">
			<img class="img" src="https://www.eppi.cz/images/emails/1909/shape-bg-2-logo.jpg" alt="" width="600" style="width: 100%;max-width: 600px;">
		</a>
		<row class="bigger-padding">
			<columns small="12">
				<p class="footer-copyright text-center">
					{{{ translate 'registration.footer'}}}
				</p>
			</columns>
		</row>
	</container>
</wrapper>