<wrapper class="footer">
	<container>
		<spacer size="30"></spacer>
		<h2 class="text-uppercase text-center">{{{ translate 'contact.title' }}}</h2>
		<row class="bigger-padding">
			<columns small="12" large="4">
				<table>
					<tr>
						<th style="width: 50px;" valign="middle">
							<img src="https://www.eppi.cz/images/emails/1909/tel.png" alt="{{{ translate 'contact.phone_caption' }}}">
						</th>
						<th valign="middle">
							<a class="footer-contact" href="tel:{{{ translate 'contact.phone' }}}">
								<strong>{{{ translate 'contact.phone_caption' }}}</strong>
								<span>{{{ translate 'contact.phone' }}}</span>
							</a>
						</th>
					</tr>
				</table>
			</columns>
			<columns small="12" large="4">
				<table>
					<tr>
						<th style="width: 50px;" valign="middle">
							<img src="https://www.eppi.cz/images/emails/1909/fb.png" alt="{{{ translate 'contact.facebook_caption' }}}">
						</th>
						<th valign="middle">
							<a class="footer-contact" href="{{{ translate 'contact.facebook_url' }}}">
								<strong>{{{ translate 'contact.facebook_caption' }}}</strong>
								<span>{{{ translate 'contact.facebook_caption_alt' }}}</span>
							</a>
						</th>
					</tr>
				</table>
			</columns>
			<columns small="12" large="4">
				<table>
					<tr>
						<th style="width: 50px;" valign="middle">
							<img src="https://www.eppi.cz/images/emails/1909/email.png" alt="{{{ translate 'contact.email_caption' }}}">
						</th>
						<th valign="middle">
							<a class="footer-contact" href="mailto:{{{ translate 'contact.email' }}}">
								<strong>{{{ translate 'contact.email_caption' }}}</strong>
								<span>{{{ translate 'contact.email' }}}</span>
							</a>
						</th>
					</tr>
				</table>
			</columns>
		</row>
		<spacer size="30"></spacer>
		<row>
			<columns small="12">
				<p class="footer-copyright text-center">
					{{{ translate 'footer.text' }}}
				</p>
			</columns>
		</row>
	</container>
</wrapper>