<row class="gallery">
	<columns small="6">
		<a href="https://www.eppi.cz/galerie-sperku-na-miru" title="Šperky na míru od eppi">
			<img src="https://www.eppi.cz/images/emails/1909/vlastni-vyroba1.jpg" alt="Grillz" width="130" style="width: 100%;max-width: 130px;">
		</a>
	</columns>
	<columns small="6">
		<a href="https://www.eppi.cz/galerie-sperku-na-miru" title="Šperky na míru od eppi">
			<img src="https://www.eppi.cz/images/emails/1909/vlastni-vyroba2.jpg" alt="Vlastní výroba" width="130" style="width: 100%;max-width: 130px;">
		</a>
	</columns>
	<columns small="6">
		<a href="https://www.eppi.cz/galerie-sperku-na-miru" title="Šperky na míru od eppi">
			<img src="https://www.eppi.cz/images/emails/1909/vlastni-vyroba3.jpg" alt="Vlastní výroba" width="130" style="width: 100%;max-width: 130px;">
		</a>
	</columns>
	<columns small="6">
		<a href="https://www.eppi.cz/galerie-sperku-na-miru" title="Šperky na míru od eppi">
			<img src="https://www.eppi.cz/images/emails/1909/vlastni-vyroba4.jpg" alt="Vlastní výroba" width="130" style="width: 100%;max-width: 130px;">
		</a>
	</columns>
</row>