<wrapper class="header">
	<container>
		<row class="collapse">
			<columns small="12">
				<a href="https://eppi.cz">
					<img src="https://www.eppi.cz/images/emails/1909/header.jpg" alt="eppi.cz" width="600" style="width: 100%;max-width: 600px;">
				</a>
			</columns>
		</row>
	</container>
</wrapper>