<wrapper class="help-bar">
	<container>
		<row class="bigger-padding">
			<columns small="12" class="inn">
				<row class="pb0">
					<columns small="12" large="2" valign="middle">
						<img class="small-float-center" src="http://litvanyi.sk/works/www/eppi/emails/assets/img/faq.png" alt="Potřebujete upravit svou objednávku?">
					</columns>
					<columns small="12" large="10" valign="middle">
						<p class="small-text-center">
							{{{ translate 'help_bar.text' }}}
						</p>
					</columns>
				</row>
			</columns>
		</row>
	</container>
</wrapper>